<!DOCTYPE html>
<html>
   <head>
      <title><%= title %></title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
   </head>
   <body>
      <ul id=images>
         <% for (let i = 0; i < jpegArray.length; i++) { %>
         <% let imgPath = "../" + photoDir + "/" + jpegArray[i] %>
         <li>
            <img src="<%- imgPath %>" alt="<%- jpegArray[i] %>">
            <%- imgPath %>
         </li>
         <% } %>
      </ul>
   </body>
</html>
