<!DOCTYPE html>
<html>
   <head>
      <title><%= title %></title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/viewer.min.css' />
      <meta name="viewport" content="width=device-width,initial-scale=1">
   </head>
   <body>
      <a href="/" class="back">日付一覧に戻る</a>
      <ul id="images">
         <% for (let i = 0; i < jpegArray.length; i++) { %>
         <% let imgPath = "../" + photoDir + "/" + jpegArray[i] %>
         <li>
            <figure>
               <img src="<%- imgPath %>" alt="<%- jpegArray[i] %>">
               <figcaption><%- jpegArray[i] %></figcaption>
            </figure>
         </li>
         <% } %>
      </ul>
      <script src="/javascript/viewer.min.js"></script>
      <script>
         const viewer = new Viewer(document.getElementById('images'));
      </script>
   </body>
</html>
