<!DOCTYPE html>
<html>
   <head>
      <title><%= title %></title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
   </head>
   <body>
      <ul>
         <% for (let i = 0; i < dirArray.length; i++) { %>
         <li><a href="/eachdate/<%- dirArray[i]; %>"><%- dirArray[i] %></a></li>
         <% } %>
      </ul>
   </body>
</html>
