html, body {
   margin: 0px;
   padding: 0px;
}

a {
  color: #00B7FF;
}

ul#dateArray {
   list-style: none;
}

ul#dateArray li {
   height: 2em;
}

ul#images li { 
  display: inline-block;
  margin: 0px 3xp 7px 0px;
  background-color: #ccc;
}

figure img {
  display: block;
  margin: 0px 0px 3px 0px;
  max-width: 200px;
  max-height: 200px;
}

figcaption {
  text-align: center;
}