html, body {
   margin: 0px;
   padding: 0px;
   font-family: sans-serif;
}

a {
  color: #00B7FF;
}

ul#dateArray {
   list-style: none;
}

ul#dateArray li {
   height: 2em;
}

ul#images {
  width: 93%;
  padding: 0%;
  margin: 0% 3%;
}

ul#images li {
  display: inline-block;
  margin: 0px 3px 7px 0px;
  background-color: #aae6fd;
  width: 49%;
}

figure img {
  display: block;
  margin: 0px 0px 3px 0px;
  max-width: 100%;
}

figcaption {
  text-align: center;
}

.pagebuttom {
   display: inline-block;
   margin: 0% .25%;
   border: #00B7FF 1px solid;
   border-radius: 4px;
   width: 2em;
   text-align: center;
}

.pagebuttom.active {
   font-weight: bold;
}

#posttoslack {
  display: inline-block;
}